dist
gspice/__pycache__
.gitignore
test/gspice-unit-test-desi.fits
.ipynb_checkpoints
.vscode
gspice.egg-info
gspice/.ipynb_checkpoints
gspice/gspice.egg-info
gspice/python.egg-info
test
gspice/tests/.ipynb_checkpoints
gspice/notebooks/.ipynb_checkpoints
gspice/notebooks/gspice.egg-info